1. Print all numbers from 1 to 100 that are odd.

In [13]:
for i in range(1,101):
 if i % 2!=0:
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

2.cheak whether a number is greater than 10, equal to 10, or less than 10.

In [21]:
n=int(input("enter a number"))
if n>10:
    print("greater than 10")
elif n==0:
  print("equal to 10")
else: 
  print("less than 10")

enter a number 6

less than 10

In [ ]:
3. print the cube of each number from 1 to 10 using a loop.

In [25]:
for i in range (1,11):
 print(i**3)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
4. given a number N,print all number from 1 to N that are divisible by 4.

In [37]:
n=int(input("enter a number"))
for i in range(1,n+1):
   if i%4==0:
    print(i)

enter a number 7

4

In [ ]:
5. cheak whether a number is between 50 and 100(inclusive).

In [41]:
n=int(input("enter a number"))
if 50<n<100:
 print("yes between 50")
else:
 print("no")

enter a number 56

yes between 50

In [ ]:
6. print all number from 1 to 100 that are not divisible by2.

In [47]:
for i in range (1,101):
 if i %2!=0:
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
7.print the first 10 multiples of 6.

In [56]:
for i in range(1,11):
     print(i*6)

6
12
18
24
30
36
42
48
54
60

In [ ]:
8. given a number, cheak if it is a multiple of both 3 and 7.

In [68]:
n=int(input("enter a number"))
if n%3==0 and n%7==0:
 print("multiple of both 3 and 7")
else:
 print("not a multiple of both")

enter a number 6

not a multiple of both

In [ ]:
9.Print all numbers from 1 to N that end with digit 3

In [ ]:
n=int(input("enter a number"))
for n in range (1,n+1)
if n %

In [ ]:
10 Check whether a number is single digit, double digit, or more than two digits

In [ ]:
n=int(input("enter a number"))
if 0<9

In [ ]:
11.print all number between 20 and 50 that are even and greater than > 30.

In [7]:

for n in range (20,51):
 if n >30 and n%2==0:
  print (n)

32
34
36
38
40
42
44
46
48
50

In [ ]:
12. find  the sum of all numbers from 1 to 30 using a loop

In [2]:
total = 0
for i in range(1,30 + 1):
    total += i
    print(total)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465

In [ ]:
13. Check whether the first digit of a two-digit number is greater  than the second digit

In [6]:
n=int(input("enter a number"))
second =n%10
first =n//10
if second>first:
    print("second digit is greater")
else:
    print("first digit is greater ")

enter a number 67

second digit is greater

In [4]:
%10
52//10

5

In [ ]:
14 print all numbers from 1 to 50 that are perfect multiples of 9

In [8]:
for i in range(1,51):
 if i%9==0:
    print(i)

9
18
27
36
45

In [ ]:
15 Given a number N, print all factors of N

In [7]:
n=int(input("enter a number"))
for i in range(1,n+1):
    if n / i==0:
        print(n)

enter a number 7

In [ ]:
16 Check whether a number is even and greater than 100

In [14]:
n=int(input("enter a number"))
if n%2==0 and n>100:
    print("even and greater than 100")
else:
    print("not even and greater")

enter a number 67

not even and greater

In [ ]:
17 Print all numbers from 100 down to 80 using loop

In [17]:
for i in range (100,80):
 print(i)

In [ ]:
18 Given N, print the first N even numbers

In [18]:
n=int(input("enter a number"))
if n%2==0:
    print(n)

enter a number 5

In [ ]:
19 Check whether the last digit of a number is 0,5,or somthing else.

In [28]:
n=int(input("enter a number"))
if last == 0:
    print("last digit 0")
elif last 5  == 0:
 print("last is 0")
else:
    print("something else")

SyntaxError: invalid syntax (3691677454.py, line 4)

In [ ]:
print the patten: 
*
**
***
****

In [20]:
for i in range(1,5):
    print("*"*i)

*
**
***
****